DB_NAME=oksfoundation
DB_USER=admin
DB_HOST=localhost
JWT_SECRET=worldisfullofdevelopers
PORT=5000
DB_PASS=admin
NODE_ENV=development 

KHALTI_SECRET_KEY=xxxxxxxxx
KHALTI_BASE_URL=https://dev.khalti.com/api/v2
KHALTI_RETURN_URL=http://localhost:5000/api/payment/khalti/verify
KHALTI_WEBSITE_URL=http://localhost:3000